#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>

// Layers
#define COLEMAK    0
#define MAC        1
#define QWERTY     2
#define SYMBOL     3
#define SYMBOL_MAC 4
#define NUMBER     5
#define NAVI       6
#define ADJUST     7

// Swedish keycodes
#define SE_SECT GRAVE       // §
#define SE_PLUS MINUS       // +
#define SE_ACUT EQUAL       // ´ (dead)
#define SE_ARNG LBKT        // Å
#define SE_DIAE RBKT        // ¨ (dead)
#define SE_ODIA SEMI        // Ö
#define SE_ADIA SQT         // Ä
#define SE_QUOT NON_US_HASH // '
#define SE_LABK NON_US_BSLH // <
#define SE_MINS FSLH        // -
#define SE_HALF LS(SE_SECT) // ½
#define SE_EXLM LS(N1)      // !
#define SE_DQUO LS(N2)      // "
#define SE_HASH LS(N3)      // #
#define SE_CURR LS(N4)      // ¤
#define SE_PERC LS(N5)      // %
#define SE_AMPR LS(N6)      // &
#define SE_SLSH LS(N7)      // /
#define SE_LPRN LS(N8)      // (
#define SE_RPRN LS(N9)      // )
#define SE_EQL  LS(N0)      // =
#define SE_QUES LS(SE_PLUS) // ?
#define SE_GRV  LS(SE_ACUT) // ` (dead)
#define SE_CIRC LS(SE_DIAE) // ^ (dead)
#define SE_ASTR LS(SE_QUOT) // *
#define SE_RABK LS(SE_LABK) // >
#define SE_SCLN LS(SE_COMM) // ;
#define SE_COLN LS(SE_DOT)  // :
#define SE_UNDS LS(SE_MINS) // _
#define SE_AT   RA(N2)      // @
#define SE_PND  RA(N3)      // £
#define SE_DLR  RA(N4)      // $
#define SE_EURO RA(N5)      // €
#define SE_LCBR RA(N7)      // {
#define SE_LBRC RA(N8)      // [
#define SE_RBRC RA(N9)      // ]
#define SE_RCBR RA(N0)      // }
#define SE_BSLS RA(SE_PLUS) // (backslash)
#define SE_TILD RA(SE_DIAE) // ~ (dead)
#define SE_PIPE RA(SE_LABK) // |
#define SE_MICR RA(SE_M)    // µ
#define SE_LESS SE_LABK     // <
#define SE_GRTR SE_RABK     // >

// Swedish macOS specific keycodes 
#define SE_ACUT_MAC SE_ACUT
#define SE_QUOT_MAC SE_LABK
#define SE_BSLS_MAC LS(SE_LCBR)
#define SE_EURO_MAC  SE_CURR
#define SE_GRV_MAC  SE_BSLS
#define SE_GRTR_MAC SE_HALF
#define SE_LCBR_MAC LS(SE_LBRC)
#define SE_LESS_MAC SE_SECT
#define SE_PIPE_MAC SE_LCBR
#define SE_RCBR_MAC LS(SE_RBRC)
#define SE_SECT_MAC SE_LABK

// Left/Right keys
#define KEYS_L 0 1 2 3 4 10 11 12 13 14 20 21 22 23 24
#define KEYS_R 5 6 7 8 9 15 16 17 18 19 25 26 27 28 29
#define THUMBS 30 31 32 33

#define COMBO(NAME, BINDINGS, KEYPOS) \
  combo_##NAME { \
    timeout-ms = <25>; \
    bindings = <BINDINGS>; \
    key-positions = <KEYPOS>; \
    layers = <0 1>; \
  };

&sl {
    release-after-ms = <3000>;
};

&lt {
    tapping-term-ms = <200>;
    quick-tap-ms = <200>;
    flavor = "balanced";
};

&mt {
    tapping-term-ms = <200>;
    quick-tap-ms = <200>;
    flavor = "balanced";
};

&kscan0 {
    debounce-press-ms = <30>;
    debounce-release-ms = <30>;
};

&caps_word {
/* Fix for dash, underscore and backspace on swedish layout */
  continue-list = <SLASH BACKSPACE QUESTION LSHIFT>;
};

/ {
    behaviors {
        hml: homerow_mods_left {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS_LEFT";
            #binding-cells = <2>;
            tapping-term-ms = <280>;
            quick-tap-ms = <175>;
            require-prior-idle-ms = <150>;
            global-quick-tap;
            flavor = "balanced";
            bindings = <&kp>, <&kp>;
            hold-trigger-key-positions = <KEYS_R THUMBS>;
            hold-trigger-on-release;
        };
        hmr: homerow_mods_right {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS_RIGHT";
            #binding-cells = <2>;
            tapping-term-ms = <280>;
            quick-tap-ms = <175>;
            require-prior-idle-ms = <150>;
            global-quick-tap;
            flavor = "balanced";
            bindings = <&kp>, <&kp>;
            hold-trigger-key-positions = <KEYS_L THUMBS>;
            hold-trigger-on-release;
        };
    };
    combos {
        compatible = "zmk,combos";
        COMBO(aa, &kp SE_ARNG, 7 8)
        COMBO(aa2, &kp SE_ARNG, 7 17)
        COMBO(ae, &kp SE_ADIA, 17 18)
        COMBO(ae2, &kp SE_ADIA, 8 18)
        COMBO(esc, &kp ESC, 1 2)
        COMBO(esc2, &kp ESC, 2 12)
        COMBO(del, &kp DEL, 27 28)
        COMBO(del2, &kp DEL, 32 33)
     };
    keymap {
        compatible = "zmk,keymap";

/* Colemak DHm
         ┌─────┬─────┬─────┬─────┬─────┐                   ┌─────┬─────┬─────┬─────┬─────┐
         |  q  |  w  |  f  |  p  |  b  |                   |  j  |  l  |  u  |  y  |  ö  |
         ├─────┼─────┼─────┼─────┼─────┤                   ├─────┼─────┼─────┼─────┼─────┤
         |sft-a|ctl-r|alt-s|gui-t|  g  |                   |  m  |gui-n|alt-e|ctl-i|sft-o|
         ├─────┼─────┼─────┼─────┼─────┤                   ├─────┼─────┼─────┼─────┼─────┤
         |  z  |  x  |  c  |  d  |  v  |                   |  k  |  h  |  ,  |  .  |  -  |
         └─────┴─────┴─────┴─────┴─────┘                   └─────┴─────┴─────┴─────┴─────┘
                           ┌─────┬─────┐                   ┌─────┬─────┐
                           |nu-tb|sh-sp|                   |na-en|sy-bs|
                           └─────┴─────┘                   └─────┴─────┘
*/
        colemak_layer {
            bindings = <
    &kp Q     	 &kp W       &kp F      &kp P      &kp B                     &kp J     &kp L      &kp U      &kp Y       &kp SEMI
    &hml LSHFT A  &hml LCTRL R &hml LALT S &hml LGUI T &kp G                     &kp M     &hmr RGUI N &hmr RALT E &hmr RCTRL I &hmr RSHFT O
    &kp Z        &kp X       &kp C      &kp D      &kp V                     &kp K     &kp H      &kp COMMA  &kp DOT     &kp FSLH
                          &lt NUMBER TAB  &mt LSHFT SPACE                   &lt NAVI RET   &lt SYMBOL BSPC
            >;
        };


/* MAC
         ┌─────┬─────┬─────┬─────┬─────┐                   ┌─────┬─────┬─────┬─────┬─────┐
         |     |     |     |     |     |                   |     |     |     |     |     |
         ├─────┼─────┼─────┼─────┼─────┤                   ├─────┼─────┼─────┼─────┼─────┤
         |     |     |     |     |     |                   |     |     |     |     |     |
         ├─────┼─────┼─────┼─────┼─────┤                   ├─────┼─────┼─────┼─────┼─────┤
         |     |     |     |     |     |                   |     |     |     |     |     |
         └─────┴─────┴─────┴─────┴─────┘                   └─────┴─────┴─────┴─────┴─────┘
                           ┌─────┬─────┐                   ┌─────┬────────┐
                           |     |     |                   |     |sy_mc_bs|
                           └─────┴─────┘                   └─────┴────────┘
*/
        mac_layer {
            bindings = <
    &trans      &trans      &trans      &trans      &trans                      &trans      &trans     &trans     &trans     &trans 
    &trans      &trans      &trans      &trans      &trans                      &trans      &trans     &trans     &trans     &trans 
    &trans      &trans      &trans      &trans      &trans                      &trans      &trans     &trans     &trans     &trans 
                                        &trans      &trans                      &trans     &lt SYMBOL_MAC BSPC
            >;
        };

/* QWERTY
         ┌─────┬─────┬─────┬─────┬─────┐                   ┌─────┬─────┬─────┬─────┬─────┐
         |  q  |  w  |  e  |  r  |  t  |                   |  y  |  u  |  i  |  o  |  p  |
         ├─────┼─────┼─────┼─────┼─────┤                   ├─────┼─────┼─────┼─────┼─────┤
         |sft-a|ctl-s|alt-d|gui-f|  g  |                   |  h  |gui-j|alt-k|ctl-l|sft-ö|
         ├─────┼─────┼─────┼─────┼─────┤                   ├─────┼─────┼─────┼─────┼─────┤
         |  z  |  x  |  c  |  v  |  b  |                   |  n  |  m  |  ,  |  .  |  -  |
         └─────┴─────┴─────┴─────┴─────┘                   └─────┴─────┴─────┴─────┴─────┘
                           ┌─────┬─────┐                   ┌─────┬─────┐
                           |     |     |                   |     |     |
                           └─────┴─────┘                   └─────┴─────┘
*/
        qwerty_layer {
            bindings = <
    &kp Q     	 &kp W       &kp E      &kp R      &kp T                     &kp Y     &kp U      &kp I      &kp O       &kp P
    &hml LSHFT A  &hml LCTRL S &hml LALT D &hml LGUI F &kp G                     &kp H     &hmr RGUI J &hmr RALT K &hmr RCTRL L &hmr RSHFT SEMI
    &kp Z        &kp X       &kp C      &kp V      &kp B                     &kp N     &kp M      &kp COMMA  &kp DOT     &kp FSLH
             	                        &trans     &trans    	             &trans     &trans
            >;
        };

/* Symbols
         ┌─────┬─────┬─────┬─────┬─────┐                   ┌─────┬─────┬─────┬─────┬─────┐
         |  !  |  "  |  #  |  €  |  §  |                   |     |  /  |  \  |  |  |  =  |
         ├─────┼─────┼─────┼─────┼─────┤                   ├─────┼─────┼─────┼─────┼─────┤
         |  '  |  {  |  [  |  (  |  %  |                   |  &  |  )  |  ]  |  }  |  +  |
         ├─────┼─────┼─────┼─────┼─────┤                   ├─────┼─────┼─────┼─────┼─────┤
         |  ~  |  @  |  £  |  $  |  ´  |                   |  ¨  |  ?  |  <  |  >  |  *  |
         └─────┴─────┴─────┴─────┴─────┘                   └─────┴─────┴─────┴─────┴─────┘
                           ┌─────┬─────┐                   ┌─────┬─────┐
                           |     |     |                   |     |     |
                           └─────┴─────┘                   └─────┴─────┘
*/
        symbol_layer {
            bindings = <
    &kp SE_EXLM  &kp SE_DQUO  &kp SE_HASH  &kp SE_EURO  &kp SE_SECT                  &none        &kp SE_SLSH  &kp SE_BSLS  &kp SE_PIPE  &kp SE_EQL
    &kp SE_QUOT  &kp SE_LCBR  &kp SE_LBRC  &kp SE_LPRN  &kp SE_PERC                  &kp SE_AMPR  &kp SE_RPRN  &kp SE_RBRC  &kp SE_RCBR  &kp SE_PLUS
    &kp SE_TILD  &kp SE_AT    &kp SE_PND   &kp SE_DLR   &kp SE_ACUT                  &kp SE_DIAE  &kp SE_QUES  &kp SE_LESS  &kp SE_GRTR  &kp SE_ASTR
             	                                  &trans     &trans    	             &trans     &trans
            >;
        };

/* Symbols for Mac
         ┌─────┬─────┬─────┬─────┬─────┐                   ┌─────┬─────┬─────┬─────┬─────┐
         |  !  |  "  |  #  |  €  |  §  |                   |     |  /  |  \  |  |  |  =  |
         ├─────┼─────┼─────┼─────┼─────┤                   ├─────┼─────┼─────┼─────┼─────┤
         |  '  |  {  |  [  |  (  |  %  |                   |  &  |  )  |  ]  |  }  |  +  |
         ├─────┼─────┼─────┼─────┼─────┤                   ├─────┼─────┼─────┼─────┼─────┤
         |  ~  |  @  |  £  |  $  |  ´  |                   |  ¨  |  ?  |  <  |  >  |  *  |
         └─────┴─────┴─────┴─────┴─────┘                   └─────┴─────┴─────┴─────┴─────┘
                           ┌─────┬─────┐                   ┌─────┬─────┐
                           |     |     |                   |     |     |
                           └─────┴─────┘                   └─────┴─────┘
*/
        symbol_mac_layer {
            bindings = <
    &kp SE_EXLM  &kp SE_DQUO      &kp SE_HASH  &kp SE_EURO_MAC  &kp SE_SECT_MAC              &none        &kp SE_SLSH  &kp SE_BSLS_MAC  &kp SE_PIPE_MAC  &kp SE_EQL
    &kp SE_QUOT  &kp SE_LCBR_MAC  &kp SE_LBRC  &kp SE_LPRN      &kp SE_PERC                  &kp SE_AMPR  &kp SE_RPRN  &kp SE_RBRC      &kp SE_RCBR_MAC  &kp SE_PLUS
    &kp SE_TILD  &kp SE_AT        &kp SE_PND   &kp SE_DLR       &kp SE_ACUT                  &kp SE_DIAE  &kp SE_QUES  &kp SE_LESS_MAC  &kp SE_GRTR_MAC  &kp SE_ASTR
             	                                         &trans     &trans    	             &trans     &trans
            >;
        };

/* Numbers
         ┌─────┬─────┬─────┬─────┬─────┐                   ┌─────┬─────┬─────┬─────┬─────┐
         | F1  | F2  | F3  | F4  | F5  |                   |  *  |  7  |  8  |  9  |  =  |
         ├─────┼─────┼─────┼─────┼─────┤                   ├─────┼─────┼─────┼─────┼─────┤
         | F6  | F7  | F8  | F9  | F10 |                   |  /  |  4  |  5  |  6  |  +  |
         ├─────┼─────┼─────┼─────┼─────┤                   ├─────┼─────┼─────┼─────┼─────┤
         | F11 | F12 |     |     |     |                   |  .  |  1  |  2  |  3  |  -  |
         └─────┴─────┴─────┴─────┴─────┘                   └─────┴─────┴─────┴─────┴─────┘
                           ┌─────┬─────┐                   ┌─────┬─────┐
                           |     |     |                   |     |  0  |
                           └─────┴─────┘                   └─────┴─────┘
*/
        number_layer {
            bindings = <
    &kp F1  &kp F2    &kp F3  &kp F4  &kp F5                          &kp SE_ASTR  &kp N7  &kp N8  &kp N9  &kp SE_EQL
    &kp F6  &kp F7    &kp F8  &kp F9  &kp F10                         &kp SE_BSLS  &kp N4  &kp N5  &kp N6  &kp SE_PLUS
    &kp F11  &kp F12  &none   &none   &none                           &kp DOT      &kp N1  &kp N2  &kp N3  &kp SE_MINS
                           &trans     &trans                          &trans     &kp N0
            >;
	};

/* Navigation
         ┌─────┬─────┬─────┬─────┬─────┐                   ┌─────┬─────┬─────┬─────┬─────┐
         | ADJ |PrScn| Ins |BriUp|VolUp|                   |Home |PgDn |PgUp | End |But3 |
         ├─────┼─────┼─────┼─────┼─────┤                   ├─────┼─────┼─────┼─────┼─────┤
         |     |     |     |BriDo|VolDo|                   |Left |Down | Up  |Right|But2 |
         ├─────┼─────┼─────┼─────┼─────┤                   ├─────┼─────┼─────┼─────┼─────┤
         |Pause|     |     |     |Mute |                   |MousL|MousD|MousU|MousR|But1 |
         └─────┴─────┴─────┴─────┴─────┘                   └─────┴─────┴─────┴─────┴─────┘
                           ┌─────┬─────┐                   ┌─────┬─────┐
                           |     |CapWd|                   |     |     |
                           └─────┴─────┘                   └─────┴─────┘
*/
        navigation_layer {
            bindings = <
    &sl ADJUST       &kp PSCRN   &kp INS &kp C_BRI_UP  &kp C_VOL_UP		&kp HOME  &kp PG_DN  &kp PG_UP  &kp END    &none
    &none            &none       &none   &kp C_BRI_DN  &kp C_VOL_DN     &kp LEFT  &kp DOWN   &kp UP     &kp RIGHT  &none
    &kp PAUSE_BREAK  &none       &none     &none         &kp K_MUTE     &none     &none      &none      &none      &none
                                              &trans     &caps_word     &trans     &trans
            >;
        };

/* Adjust
         ┌─────┬─────┬─────┬─────┬─────┐                   ┌─────┬─────┬─────┬─────┬─────┐
         | BT0 | BT1 | BT2 | BT3 | BT4 |                   |CapLk|NumLk|ScrLk|     |     |
         ├─────┼─────┼─────┼─────┼─────┤                   ├─────┼─────┼─────┼─────┼─────┤
         | USB | BLE |     |Reset|Qw/Co|                   |Wi/Mc|Reset|     |     |     |
         ├─────┼─────┼─────┼─────┼─────┤                   ├─────┼─────┼─────┼─────┼─────┤
         |     |BTClr|     |     |Bootl|                   |Bootl|     |     |     |     |
         └─────┴─────┴─────┴─────┴─────┘                   └─────┴─────┴─────┴─────┴─────┘
                           ┌─────┬─────┐                   ┌─────┬─────┐
                           |     |     |                   |     |     |
                           └─────┴─────┘                   └─────┴─────┘
*/
        adjust_layer {
            bindings = <
    &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_SEL 4                   &kp CAPS    &kp KP_NUM &kp SLCK &none     &none
    &out OUT_USB &out OUT_BLE &none        &sys_reset   &tog QWERTY                    &tog MAC    &sys_reset &none    &none     &none
    &none        &bt BT_CLR   &none        &none        &bootloader                    &bootloader &none      &none    &none     &none
                                           &none        &none                          &none       &none
            >;
        };

/* Layer  illustration template
         ┌─────┬─────┬─────┬─────┬─────┐                   ┌─────┬─────┬─────┬─────┬─────┐
         |     |     |     |     |     |                   |     |     |     |     |     |
         ├─────┼─────┼─────┼─────┼─────┤                   ├─────┼─────┼─────┼─────┼─────┤
         |     |     |     |     |     |                   |     |     |     |     |     |
         ├─────┼─────┼─────┼─────┼─────┤                   ├─────┼─────┼─────┼─────┼─────┤
         |     |     |     |     |     |                   |     |     |     |     |     |
         └─────┴─────┴─────┴─────┴─────┘                   └─────┴─────┴─────┴─────┴─────┘
                           ┌─────┬─────┐                   ┌─────┬─────┐
                           |     |     |                   |     |     |
                           └─────┴─────┘                   └─────┴─────┘
*/
/*
        template_layer {
            bindings = <
    &none      &none      &none      &none      &none                      &none      &none     &none     &none     &none 
    &none      &none      &none      &none      &none                      &none      &none     &none     &none     &none 
    &none      &none      &none      &none      &none                      &none      &none     &none     &none     &none 
                                     &trans     &trans                    &trans     &trans
            >;
        };

*/

    };
};
