if SHIELD_GWYLLM_LEFT

    config ZMK_KEYBOARD_NAME
        default "Gwyllm"

    config ZMK_SPLIT_BLE_ROLE_CENTRAL
        default y
endif

if SHIELD_GWYLLM_RIGHT

    config ZMK_KEYBOARD_NAME
        default "Gwyllm Right"

endif

if SHIELD_GWYLLM_LEFT || SHIELD_GWYLLM_RIGHT

    config ZMK_SPLIT
        default y

endif
